@media screen and (min-width: 900px) {
	.logo-site:before {
		content: "";
		position: absolute;
		left: -665px;
		top: -460px;
		width: 220px;
		height: 15px;
		background-color: rgba(255,255,255,0.5);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-animation: searchLights 1s ease-in 1s infinite;
		-o-animation: searchLights 1s ease-in 1s infinite;
		animation: searchLights 1s ease-in 1s infinite;
	}
}

@-webkit-keyframes searchLights {
	0% {
		left: -100px;
		top: 0;
	}

	to {
		left: 120px;
		top: 100px;
	}
}
